[submodule "submodules/todo"]
	path = submodules/todo
	url = https://github.com/jeff-hamm/to-do.git
[submodule "submodules/to-do"]
	path = submodules/to-do
	url = https://github.com/jeff-hamm/to-do.git
